html {
    font-size: $font-size;
    font-family: $PN;
    background: $background-color;
    color: $font-color;
    line-height: 1.4;
}

body {
    margin: auto;
    text-align: center;
    max-width: $page-width;
    text-align: left;

    overflow-x: hidden;
}

h1 {
    margin: 0 0 2rem;
}

img {
    width: 100%;
    max-width: 100%;
}

.wrapper {
    max-width: $page-width;
    margin: 0 auto;
    background-color: #ffffff;
}

.container {
    width: 1420px;
    height: 100%;
    margin: 0 auto;

    @media (max-width: 1460px) {
        width: 90%;
        margin: 0 5%;
    }
}

.text-line-img {
    height: 50%;
    display: flex;

    &__icon {
        width: 11px;
        height: 11px;

        margin-right: 9px;

        &_size {
            &_feature {
                width: 49.11px;
                height: 46.96px;
            }
        }
    }
}

.big-info {
    @include flex-between;
    flex-direction: column;
    line-height: 51px;
    letter-spacing: -0.5px;
    text-align: left;

    h2 {
        font-family: $GB;
        @include adaptiv-font(42, 21);
        line-height: 51px;

        @media (max-width: 1200px) {
            line-height: 4vw;
        }
    }

    p {
        font-family: $PN;
        @include adaptiv-font(20, 12);
        line-height: 34px;

        color: #ffffff;
        opacity: 0.7;

        @media (max-width: 1200px) {
            line-height: 2vw;
        }
    }
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 2px;
    background-color: #fee040;

    .btn-text-img {
        display: flex;
        align-items: center;
    }

    p {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;
    }

    &__underbtn-text {
        font-size: 15px;
        line-height: 28px;
    }

    &:hover {
        background: #ffeb81;
        box-shadow: 0 5px 15px 0 rgba(255, 235, 129, 0.7);
    }
}

.yellow-circle {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    @include flex-center;
    background-color: #fee040;
    border-radius: 50%;

    img {
        width: 50%;
    }
}

.slider-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    @include flex-center;
    top: 0;

    transition: 0.5s;
    cursor: pointer;
    z-index: 19;

    &:hover {
        border-radius: 2px;
    }

    .bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #fee040 0%, #2f80ed 100%);
        opacity: 0;
    }

    &:hover .bg {
        opacity: 0.5;
    }

    img {
        width: 40px;
        opacity: 0;
        z-index: 20;
    }

    &:hover img {
        opacity: 1;
    }
}
