.contact {
    display: flex;
    flex-direction: column;

    &__upper-text {
        color: $font-color;
        opacity: 0.5;

        margin-bottom: 6px;

        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.5px;
    }

    &_align {
        &_left {
            @include percW(131, 460);
            align-items: flex-start;
        }

        &_right {
            align-items: flex-end;
        }
    }

    &__lower-text {
        &_color {
            &_yell {
                color: $fourh-font-color;
            }

            &_white {
                color: $font-color;
            }

            &_black {
                color: #151515;
            }
        }

        &_size {
            &_small {
                @include adaptiv-font(14, 12);
                line-height: 12px;
            }

            &_large {
                @include adaptiv-font(20, 14);
                line-height: 24px;
            }
        }
    }
}
