.footer {
    height: 121px;
    @include flex-center;

    &__container {
        @include flex-between;
        height: 41px;

        @media (max-width: 1200px) {
            height: 80%;
        }
    }

    &__logo {
        width: 296px;

        font-size: 12px;
        line-height: 18px;
        color: #707070;

        @media (max-width: 1200px) {
            width: 25%;
            @include adaptiv-font(12, 8);
            line-height: 3vmin;
            margin-right: 5%;
        }
    }

    &__contacts {
        width: 716px;
        display: flex;

        @media (max-width: 1200px) {
            width: 80%;
            height: fit-content;
        }
    }

    &__contact-el {
        &_size {
            &_small {
                width: 133px;
                margin-right: 50px;

                @media (max-width: 1200px) {
                    margin-right: 4%;
                }
            }

            &_medium {
                width: 169px;
                margin-right: 50px;

                @media (max-width: 1200px) {
                    margin-right: 4%;
                }
            }

            &_large {
                width: 323px;

                @media (max-width: 1200px) {
                    margin-right: 4%;
                }
            }
        }

        p {
            width: 100%;
            font-size: 12px;
            line-height: 12px;

            color: #151515;

            @media (max-width: 1200px) {
                @include adaptiv-font(12, 8);
            }
        }
    }

    &__text-line-img {
        font-size: 12px;
        line-height: 12px;
        display: flex;

        letter-spacing: -0.5px;

        color: #151515;

        img {
            width: 12px;
            height: 12px;
            -webkit-filter: #707070;
        }
    }
}
