.header {
    width: 100%;
    height: 62px;
    box-sizing: content-box;
    padding-top: 1%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &__wrapper {
        width: 1420px;
        margin: 0 auto;
        display: flex;
        @include flex-between;

        @media (max-width: 1460px) {
            width: 90%;
        }
    }

    &__left-block {
        width: 316px;
        @include flex-between;
    }

    &__right-block {
        width: 460px;
        @include percH(44, 62);
        @include flex-between;

        @media (max-width: 1460px) {
            width: 40%;
        }
    }
}
