.reviews {
    height: 1025px;
    @include flex-center;

    &__container {
        width: 1455px;
        height: 825px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 1500px) {
            width: 90%;
            margin: 0 5%;
        }
    }

    &__header {
        @include percW(980, 1455);
        height: 183px;
        text-align: center;
        margin-bottom: 34px;

        h2 {
            font-family: $BN;
            font-size: 20px;
            line-height: 16px;
            letter-spacing: 20px;
            text-transform: uppercase;

            color: #2f80ed;
        }

        h3 {
            font-size: 32px;
            line-height: 42px;
            letter-spacing: -0.5px;

            color: #151515;

            margin: 30px auto 39px auto;

            @media (max-width: 1000px) {
                @include adaptiv-font(32, 20);
                line-height: 20px;
            }
        }

        p {
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            letter-spacing: -0.5px;

            color: #707070;

            @media (max-width: 1000px) {
                @include adaptiv-font(18, 16);
                line-height: 17px;
            }
        }
    }

    &__slides {
        width: 100%;
        height: 509px;
        @include flex-between;

        margin-bottom: 29px;
    }

    &__btn {
        width: 443px;
        height: 70px;
        padding: 10px;

        @media (max-width: 500px) {
            width: 80%;
            margin: 0 10%;
        }
    }
}

.slides-item {
    width: 335px;
    height: 509px;
    position: relative;

    @media (max-width: 1370px) {
        display: none;

        &:first-child {
            display: block;
            margin: 0 auto;
        }
    }

    &__icon {
        width: 70px;
        height: 70px;
        @include flex-center;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;

        z-index: 1;

        background: #ffffff;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
    }

    &__img {
        height: fit-content;

        &_size {
            &_small {
                @include percW(38, 70);
            }

            &_large {
                @include percW(40, 70);
            }
        }
    }

    &__letter {
        width: 300px;
        height: 474px;
        @include flex-between;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        right: 0;

        .doc {
            width: 100%;
            height: 427.94px;
            z-index: 0;
            position: relative;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: -0.5px;

            color: #151515;

            opacity: 0.7;
        }
    }
}
